@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 4px;
  height: 3.5rem;
}

button:focus {
  outline: none;
}

.border-purple {
  border-color: #7129b4;
}

.bg-purple {
  background-color: #7129b4;
}

.text-purple {
  color: #7129b4;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.big-header {
  font-size: 1.5rem;
}

label {
  font-weight: 600;
  font-size: 1rem;
  color: #6d7885;
  margin-bottom: 0;
}

input {
  height: 40px;
  background-color: #eaeaeb;
  border: 1px solid #d8dee1;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #333333;
  padding: 0 1rem;
}

/* --------------------------- Queue info  -----------------------------*/

.queueInfoContainer {
  height: 100vh;
}

.queueInfoContainer__container {
  flex: 1 0 auto;
}

.queueInfoContainer__controls {
  flex-shrink: 0;
  height: 250px;
}

.queueInfoContainer h3 {
  color: #6b6c6e;
  font-size: medium;
  text-transform: uppercase;
}

.queueNumberContainer h3 {
  text-align: center;
}

.queueLineContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.queueLineContainer div {
  padding: 10px;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.right h3 {
  color: black;
  text-transform: none;
}
